*/target/
*/.project
*/.classpath
*/.settings/
target/
.project
.classpath
.settings/
atlassian-bamboo.log
build-number.txt
release.properties
*.iml
*.log
.idea
atlassian-ide-plugin.xml
*/overlays/
overlays/
.sonar
